<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mp.blog.shopping.mapper.RedPacketMapper">
    <resultMap id="BaseResultMap" type="com.mp.blog.shopping.entity.RedPacket">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="amount" property="amount" jdbcType="VARCHAR"/>
            <result column="buy_way" property="buyWay" jdbcType="INTEGER"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="tid" property="tid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="table">red_packet</sql>
    <sql id="Base_Column_List">
            `id`,
            `amount`,
            `buy_way`,
            `state`,
            `create_time`,
            `tid`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="amount != null and amount != ''">
                        AND `amount`=#{amount}
                    </if>
                    <if test="buyWay != null">
                        AND `buy_way`=#{buyWay}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="tid != null">
                        AND `tid`=#{tid}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
    </select>

    <insert id="insert" parameterType="com.mp.blog.shopping.entity.RedPacket" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `amount`,
            `buy_way`,
            `state`,
            `create_time`,
            `tid`
        )
        VALUES(
            #{id},
            #{amount},
            #{buyWay},
            #{state},
            #{createTime},
            #{tid}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `amount`,
            `buy_way`,
            `state`,
            `create_time`,
            `tid`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.amount},
            #{cm.buyWay},
            #{cm.state},
            #{cm.createTime},
            #{cm.tid}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.mp.blog.shopping.entity.RedPacket">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="amount != null and amount != ''">
                 `amount`=#{amount},
            </if>
            <if test="buyWay != null">
                 `buy_way`=#{buyWay},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
            <if test="tid != null">
                 `tid`=#{tid},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="updateByTid" parameterType="com.mp.blog.shopping.entity.RedPacket">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="amount != null and amount != ''">
                `amount`=#{amount},
            </if>
            <if test="buyWay != null">
                `buy_way`=#{buyWay},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime}
            </if>
        </set>
        WHERE tid=#{tid}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </delete>
</mapper>
